rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /pets/{petId} {
      allow read: if true; //誰でも見れる
      allow create: if request.auth.uid != null;
      allow update: if request.auth.uid == resource.data.trainerId && resource.data.trainerId == request.resource.data.trainerIdf;
      allow delete: if request.auth.uid == resource.data.trainerId;
    }
  }
}
